/.*
/backups/
/crash-reports/
/fancymenu_data/
/journeymap/
/local/
/logs/
/modernfix/
/PCL/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/*-natives/
/emi.json
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json
jsconfig.json

/config/oculus.properties
/config/inventoryprofilesnext/*
!/config/inventoryprofilesnext/inventoryprofiles.json

/resourcepacks/Minecraft-*.zip