/.probe/
/.vscode/
/backups/
/fancymenu_data
/local/
/logs/
/modernfix/
/PCL/
/resourcepacks/
/saves/
/schematics/
/shaderpacks/
/*-natives/
/emi.json
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json

/config/oculus.properties
/config/inventoryprofilesnext
/config/inventoryprofilesnext/*
!/config/inventoryprofilesnext/inventoryprofiles.json